<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>gab.ai</string>
	<string>gab.com</string>
	<string>exited.eu</string>
	<string>not-develop.gab.com</string>
	<string>develop.gab.com</string>
	<string>ekrem.develop.gab.com</string>
	<string>gab.io</string>
	<string>gabble.xyz</string>
	<string>gab.polaris-1.work</string>
	<string>gabfed.com</string>
	<string>spinster.xyz</string>
	<string>djitter.com</string>
	<string>kazvam.com</string>
	<string>truthsocial.com</string>
	<string>endtimebelievers.com</string>
	<string>bitcoinhackers.org</string>
	<string>megamast.io</string>
	<string>obo.sh</string>
	<string>social.ancreport.com</string>
	<string>gearlandia.haus</string>
</array>
</plist>
